<h1>New Gossip</h1>
<%= form_tag('/gossips', method: :post) do %>
  <%= label_tag(:user_name, 'User Name:') %>
  <%= text_field_tag(:user_name) %>

  <%= label_tag(:title, 'Title:') %>
  <%= text_field_tag(:title) %>

  <%= label_tag(:content, 'Content:') %>
  <%= text_area_tag(:content) %>

  <%= submit_tag('Create Gossip') %>
<% end %>