<!DOCTYPE html>
<html>
<head>
  <title>Welcome to The Gossip Project</title>
</head>

<body>
    <h1>The piping hot tea</h1>
    <center>
    <img src="https://media.tenor.com/4PS1bpKTLJUAAAAC/spill-the-tea-sips-tea.gif">
    </center>
    <ol class="list-group list-group-numbered">
      <% @gossips.each_with_index do |gossip, index| %>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold"><strong>The Tea: <%= gossip.title %></strong></div>
            <p><strong>Gossip Queen: <%= gossip.user.first_name %></strong></p>
            <p><%= gossip.content %></strong></p>
            <p><%= gossip.user.city.name%></p>
              <% gossip.tags.each do |tag| %>
              <p><%= tag.title %></p>
            <% end%>
          </div>
          <span class="badge bg-primary rounded-pill"><%= index +1 %></span>
        </li>
      <% end %>
    </ol>
</body>
</html>